@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #cbd5e142;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cbd5e150;
}

::-webkit-scrollbar-track {
  background: #64748b30;
  border-radius: 8px;
}

.creato-thin {
  font-family: var(--font-creato-thin);
  font-weight: 100;
}

.creato-light {
  font-family: var(--font-creato-light);
  font-weight: 300;
}

.creato-regular {
  font-family: var(--font-creato-regular);
  font-weight: 400;
}

.creato-medium {
  font-family: var(--font-creato-medium);
  font-weight: 500;
}

.creato-bold {
  font-family: var(--font-creato-bold);
  font-weight: 700;
}

.creato-extraBold {
  font-family: var(--font-creato-extraBold);
  font-weight: 800;
}

.creato-black {
  font-family: var(--font-creato-black);
  font-weight: 900;
}

.permanent-marker {
  font-family: var(--font-marker);
  font-weight: normal;
}

.magazine-letter {
  font-family: var(--font-magazine);
  font-weight: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
